<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.yqwl.datamiddle.ads.order.mapper.DwmVlmsOneOrderToEndMapper">

    <select id="selectOneOrderToEndList"
            resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.DwmVlmsOneOrderToEnd">
        SELECT
               *
        FROM
            dwm_vlms_one_order_to_end
        <where>
            <choose>
                <when test="params.vinList != null">
                    and VIN IN
                    <foreach collection="params.vinList" item="value"  index="key" separator="," open="(" close=")">
                         #{value}
                    </foreach>
                </when>
                <otherwise>
                    <if test="params.vin != null and params.vin != '' ">
                        AND VIN = #{params.vin}
                    </if>
                </otherwise>
            </choose>
            <if test="params.baseName != null and params.baseName != '' ">
                AND BASE_NAME = #{params.baseName}
            </if>
            <if test="params.taskNo != null and params.taskNo != '' ">
                AND TASK_NO = #{params.taskNo}
            </if>
            <if test="params.stowageNoteNo != null and params.stowageNoteNo != '' ">
                AND STOWAGE_NOTE_NO = #{params.stowageNoteNo}
            </if>
            <if test="params.leaveFactoryTimeStart != null   and params.leaveFactoryTimeStart != '' ">
                AND LEAVE_FACTORY_TIME <![CDATA[ >= ]]> #{params.leaveFactoryTimeStart}
            </if>
            <if test="params.leaveFactoryTimeEnd != null   and params.leaveFactoryTimeEnd != '' ">
                AND LEAVE_FACTORY_TIME <![CDATA[ <= ]]>  #{params.leaveFactoryTimeEnd}
            </if>
            <if test="params.startCityName != null and params.startCityName != '' ">
                AND START_CITY_NAME = #{params.startCityName}
            </if>
            <if test="params.endCityName != null and params.endCityName != '' ">
                AND END_CITY_NAME = #{params.endCityName}
            </if>
            <if test="params.inSiteTimeStart != null   and params.inSiteTimeStart != '' ">
                AND IN_SITE_TIME <![CDATA[ >= ]]> #{params.inSiteTimeStart}
            </if>
            <if test="params.inSiteTimeEnd != null   and params.inSiteTimeEnd != ''  ">
                AND IN_SITE_TIME <![CDATA[ <= ]]> #{params.inSiteTimeEnd}
            </if>
            <if test="params.cp9OfflineTimeStart != null   and params.cp9OfflineTimeStart != ''  ">
                AND CP9_OFFLINE_TIME <![CDATA[ >= ]]> #{params.cp9OfflineTimeStart}
            </if>
            <if test="params.cp9OfflineTimeEnd != null   and params.cp9OfflineTimeEnd != ''  ">
                AND CP9_OFFLINE_TIME <![CDATA[ <= ]]>  #{params.cp9OfflineTimeEnd}
            </if>
        </where>

        order by CP9_OFFLINE_TIME desc
    </select>
<!--    查询同板数量 -->
    <select id="selectTotal" resultType="java.lang.Integer">
        SELECT
               COUNT(VIN) AS SAME_PLATE_NUM
        FROM
             dwm_vlms_one_order_to_end
        GROUP BY
            STOWAGE_NOTE_NO
    </select>
</mapper>