<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.yqwl.datamiddle.ads.order.mapper.DwmVlmsSptb02Mapper">
    <resultMap id="" type="">
        <id column="CJSDBH" jdbcType="STRING" property="CJSDBH" />
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" />
        <result column="NYDFY" jdbcType="INT32" property="NYDFY" />  Int32
        <result column="NKCFY" jdbcType="INT32" property="NKCFY" /> NKCFY Int32
        <result column="NSFFY" jdbcType="INT32" property="NSFFY" /> NSFFY Int32
        <result column="DJSSJ" jdbcType="INT64" property="DJSSJ" /> DJSSJ Int64
        <result column="VJSYDM" jdbcType="STRING" property="VJSYDM" /> VJSYDM String
        <result column="CZT" jdbcType="STRING" property="CZT" /> CZT String
        <result column="NJSDYCS" jdbcType="INT32" property="NJSDYCS" /> NJSDYCS Int32
        <result column="NTCDYCS" jdbcType="INT32" property="NTCDYCS" /> NTCDYCS Int32
        <result column="VBZ" jdbcType="STRING" property="VBZ" /> VBZ String
        <result column="CYSFS_ZJGS" jdbcType="STRING" property="CYSFS_ZJGS" /> CYSFS_ZJGS String
        <result column="VWXDWDM" jdbcType="STRING" property="VWXDWDM" /> VWXDWDM String
        <result column="VYSCDM" jdbcType="STRING" property="VYSCDM" /> VYSCDM String
        <result column="VZSJDM" jdbcType="STRING" property="VZSJDM" /> VZSJDM String
        <result column="VFSJDM" jdbcType="STRING" property="VFSJDM" /> VFSJDM String
        <result column="CYSLX" jdbcType="STRING" property="CYSLX" /> CYSLX String
        <result column="CCZYDM" jdbcType="STRING" property="CCZYDM" /> CCZYDM String
        <result column="DZPSJ" jdbcType="INT64" property="DZPSJ" /> DZPSJ Int64
        <result column="CZPYDM" jdbcType="STRING" property="CZPYDM" /> CZPYDM String
        <result column="DFCDJSJ" jdbcType="INT64" property="DFCDJSJ" /> DFCDJSJ Int64
        <result column="CDJYDM" jdbcType="STRING" property="CDJYDM" /> CDJYDM String
        <result column="CCYSDM" jdbcType="STRING" property="CCYSDM" /> CCYSDM String
        <result column="CYSSDM" jdbcType="STRING" property="CYSSDM" /> CYSSDM String
        <result column="DCYSZPSJ" jdbcType="INT64" property="DCYSZPSJ" /> DCYSZPSJ Int64
        <result column="DYSSZPSJ" jdbcType="INT64" property="DYSSZPSJ" /> DYSSZPSJ Int64
        <result column="CCYZPYDM" jdbcType="STRING" property="CCYZPYDM" /> CCYZPYDM String
        <result column="CYSZPYDM" jdbcType="STRING" property="CYSZPYDM" /> CYSZPYDM String
        <result column="DDHSJ" jdbcType="INT64" property="DDHSJ" /> DDHSJ Int64
        <result column="CPCDBH" jdbcType="STRING" property="CPCDBH" /> CPCDBH String
        <result column="NPHID" jdbcType="STRING" property="NPHID" /> NPHID String
        <result column="DZCSJ" jdbcType="INT64" property="DZCSJ" /> DZCSJ   Int64
        <result column="DYJWCSJ" jdbcType="INT64" property="DYJWCSJ" /> DYJWCSJ Int64
        <result column="CFWM" jdbcType="STRING" property="CFWM" /> CFWM String
        <result column="CZJBS" jdbcType="STRING" property="CZJBS" /> CZJBS String
        <result column="DCKRQ" jdbcType="INT64" property="DCKRQ" /> DCKRQ Int64
        <result column="CZFBH" jdbcType="STRING" property="CZFBH" /> CZFBH String
        <result column="DBCSJ" jdbcType="INT64" property="DBCSJ" /> DBCSJ Int64
        <result column="VCKKGYDM" jdbcType="STRING" property="VCKKGYDM" /> VCKKGYDM String
        <result column="VYSFS" jdbcType="STRING" property="VYSFS" /> VYSFS String
        <result column="CFYDD" jdbcType="STRING" property="CFYDD" /> CFYDD String
        <result column="VWLCKDM" jdbcType="STRING" property="VWLCKDM" /> VWLCKDM String
        <result column="CYDLX" jdbcType="STRING" property="CYDLX" /> CYDLX String
        <result column="VDWDM" jdbcType="STRING" property="VDWDM" /> VDWDM String
        <result column="VSCDZ" jdbcType="STRING" property="VSCDZ" /> VSCDZ String
        <result column="CDHDDM" jdbcType="STRING" property="CDHDDM" /> CDHDDM String
        <result column="CCLBS" jdbcType="STRING" property="CCLBS" /> CCLBS String
        <result column="DCKQRSJ" jdbcType="INT64" property="DCKQRSJ" /> DCKQRSJ Int64
        <result column="CJKBS" jdbcType="STRING" property="CJKBS" /> CJKBS String
        <result column="DJKRQ" jdbcType="INT64" property="DJKRQ" /> DJKRQ Int64
        <result column="CJHDH" jdbcType="STRING" property="CJHDH" /> CJHDH String
        <result column="CHTCODE" jdbcType="STRING" property="CHTCODE" /> CHTCODE String
        <result column="VQRBZ" jdbcType="STRING" property="VQRBZ" /> VQRBZ String
        <result column="CQRR" jdbcType="STRING" property="CQRR" /> CQRR String
        <result column="DJYSJ" jdbcType="INT64" property="DJYSJ" /> DJYSJ Int64
        <result column="CJYCH" jdbcType="STRING" property="CJYCH" /> CJYCH String
        <result column="CXSQRR" jdbcType="STRING" property="CXSQRR" /> CXSQRR String
        <result column="DXSQRSJ" jdbcType="INT64" property="DXSQRSJ" /> DXSQRSJ Int64
        <result column="VXSBZ" jdbcType="STRING" property="VXSBZ" /> VXSBZ String
        <result column="DYSXD" jdbcType="INT64" property="DYSXD" /> DYSXD   Int64
        <result column="DCKJSSJ" jdbcType="INT64" property="DCKJSSJ" /> DCKJSSJ Int64
        <result column="DCKXD" jdbcType="INT64" property="DCKXD" /> DCKXD   Int64
        <result column="NFJYF" jdbcType="INT32" property="NFJYF" /> NFJYF Int32
        <result column="CPZBS" jdbcType="STRING" property="CPZBS" /> CPZBS String
        <result column="DPZRQ" jdbcType="INT64" property="DPZRQ" /> DPZRQ Int64
        <result column="CPZCZY" jdbcType="STRING" property="CPZCZY" /> CPZCZY String
        <result column="CPZDBH" jdbcType="STRING" property="CPZDBH" /> CPZDBH String
        <result column="CPZDXH" jdbcType="STRING" property="CPZDXH" /> CPZDXH String
        <result column="CFPBS" jdbcType="STRING" property="CFPBS" /> CFPBS String
        <result column="DDCDKSJ" jdbcType="INT64" property="DDCDKSJ" /> DDCDKSJ  Int64
        <result column="DGPSDHSJ" jdbcType="INT64" property="DGPSDHSJ" /> DGPSDHSJ Int64
        <result column="DSJCFSJ" jdbcType="INT64" property="DSJCFSJ" /> DSJCFSJ  Int64
        <result column="CYCZT" jdbcType="STRING" property="CYCZT" /> CYCZT String
        <result column="CDKHDM" jdbcType="STRING" property="CDKHDM" /> CDKHDM String
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DYJDHSJ Int64             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> VSJPZH String            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> VBZ1 String              ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> VDHPJ String             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DGPSHCSJ Int64            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> VPH String               ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DPHSCSJ Int64             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> VPBBS String             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> VDKHQRBS String          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DLLLCSJ Int64             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CGLFQRCZY String         ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DGLFQRSJ Int64            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CGS String               ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CBYJQRBS String          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CBYJQRCZY String         ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DBYJQRSJ Int64            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CCYSDM_O String          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CYSSDM_O String          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CGLFBZ String            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CGPSYCYY String          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CZPYCLX String           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> NFDDXH Int32             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> VFCZT String             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> VSCZT String             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CQWH String              ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CZJGSDM String           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CZFBH2 String            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CJSDBH2 String           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CZFBH3 String            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CZFBH4 String            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DTVSJCSJ Int64            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DTVSCFSJ Int64            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DTVSDHSJ Int64            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DTVSFCSJ Int64            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CTVSPH String            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> VEHID String             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DTVSJCSJ2 Int64           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DSTAMP    Int64           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CJCSF String             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CJCCS String             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> NLJDS Int32              ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CXMCBD_ZB String         ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CXMCBD_JD String         ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CBS_GJZF String          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CJSDBH_LAST String       ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CCYBZ String             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CJXSBZ String            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CXSBZ String             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CXSDDBH String           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> PTBS String              ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CYYSDM_PT String         ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CXSGSDM String           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> VXSGSMC String           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> NJCFDXH Int32            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CBS_SCJJ String          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CBS_BCBBLX String        ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DATE_SCJJ Int64           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CBS_CUSCONFIRM String    ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CBS_OPERDEPART String    ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DZCWCSJ Int64             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DDDZTSJ Int64             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> IS_SYNC String           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> EV_FLAG String           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> SV_FLAG String           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> INTER_CODE String        ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> NAME_FROM String         ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> NAME_TO String           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> SEN_PERSON String        ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> REC_PERSON String        ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" />  PERSON_PHONE String      ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> ADDRESS_FROM String      ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> ADDRESS_TO String        ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> REQ_DATE Int64            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> FH_DATE  Int64            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> SUBMI String             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DEPTM String             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> INFO String              ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CARTYPE String           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> BRAND String             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> NAME2 String             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> ZF_CONFIRM_CCZYDM String ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> ZF_CONFIRM_CCZYMC String ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> ZF_CONFIRM_DCZRQ Int64    ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DTLLHSCSJ        Int64    ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> NLJDS_GPS Int32          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DDHSJ_GPS    Int64           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DDHSJ_XT     Int64           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DZTXCSJ      Int64           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DYJDHSJ_BM   Int64           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DFDYJDHSJ_BM Int64           ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CZFBH_BMCBC String          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CJSBH_BMCBC String          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> VDHPJ_BMCBC String          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> SV_TYPE String              ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CZT_JS_TS String            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CZT_ZF_TS String            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> NBZWLSJ_DZ Int64             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DBZDHSJ_DZ Int64             ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> CTCBS String                ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> WAREHOUSE_CREATETIME Int64   ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> WAREHOUSE_UPDATETIME Int64   ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> TRAFFIC_TYPE String         ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> SHIPMENT_TIME     Int64          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> PLAN_RELEASE_TIME Int64          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> ASSIGN_TIME       Int64          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> DOT_SITE_TIME     Int64          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> FINAL_SITE_TIME   Int64          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> ORDER_CREATE_TIME Int64          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> BASE_CODE String                ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> TRANS_MODE_CODE String          ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> HOST_COM_CODE String            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> THEORY_SHIPMENT_TIME Int64       ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> THEORY_OUT_TIME      Int64       ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> THEORY_SITE_TIME     Int64       ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> ACTUAL_OUT_TIME      Int64       ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> ENTER_TARGET_TIME    Int64       ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> VVIN String                     ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> TRAFFIC_STATUS UInt8            ,
        <result column="DDJRQ" jdbcType="INT64" property="DDJRQ" /> TRAFFIC_STATUS_NAME String





    </resultMap>


</mapper>
