<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.yqwl.datamiddle.ads.order.mapper.DwmVlmsSptb02Mapper">
    <resultMap id="sptb02Result" type="org.jeecg.yqwl.datamiddle.ads.order.entity.DwmVlmsSptb02">
        <result column="TRAFFIC_TYPE" property="trafficType"/>
    </resultMap>
    <select id="getSptbTrafficTypeByVin" resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.DwmVlmsSptb02"
            parameterType="java.util.List">
        select
        a.TRAFFIC_TYPE as TRAFFIC_TYPE,
        a.VVIN as VVIN,
        a.CJSDBH as CJSDBH,
        a.DSJCFSJ as DSJCFSJ,
        a.DGPSDHSJ as DGPSDHSJ,
        case when (a.TRAFFIC_TYPE = 'G' and(a.DDHSJ != 0 or a.DGPSDHSJ != 0 )) then '已到货'
        when (a.TRAFFIC_TYPE in ('T', 'S') and (a.DDHSJ != 0 or a.DTVSDHSJ != 0)) then '已到货'
        when (a.DCKRQ = 0) then '未出库'
        when (b.NOW_DATE > a.DSJCFSJ and a.TRAFFIC_TYPE = 'G') then b.NOW_ADDRESS || b.NOW_CITY_NAME
        when (c.DCJSJ > a.DSJCFSJ and a.TRAFFIC_TYPE in ('T', 'S')) then c.VWZ
        end VWZ
        from
        dwm_vlms_sptb02 a
        left join ods_vlms_dcs_orders b
        on a.VVIN = b.VIN_NO
        left join ods_vlms_sptb22_dq c
        on a.VJSYDM = c.CPZH
        <where>
            VVIN in
            <foreach item="vin" collection="vins" open="(" separator="," close=")">
                #{vin}
            </foreach>
            and VYSFS != 'J'
        </where>
        order by
        CJSDBH
    </select>

    <sql id="search">
        <choose>
            <!--搜索条件:     cqwh:基地   czjgsdm:主机公司  traffic_type: 公铁水
                關於分组条件:
                  公铁水  :   cqwh-单选   czjgsdm-单选     traffic_type-全选
                  主机公司: 1.cqwh-单选   czjgsdm-全选     traffic_type-全选
                          2.cqwh-单选   czjgsdm-全选     traffic_type-单选
                  默认   :  基地
             -->
            <!--公铁水 -->
            <when test="params.cqwh != '' and params.czjgsdm != '' and params.trafficType == '' ">
                dvs.TRAFFIC_TYPE as groupName,
            </when>
            <!--主机公司 -->
            <when test="params.cqwh != '' and params.czjgsdm == '' and params.trafficType == '' ">
                dvs.CUSTOMER_NAME as groupName,
            </when>
            <when test="params.cqwh != '' and params.czjgsdm == '' and params.trafficType != '' ">
                dvs.CUSTOMER_NAME as groupName,
            </when>
            <!--默认: 基地 -->
            <otherwise>
                dvs.BASE_NAME as groupName,
            </otherwise>
        </choose>
    </sql>
    <!--    大屏的条件查询 -->
    <sql id="bigScreenQuery">
        <if test="params.cqwh != '' and params.cqwh != null">
            and CQWH = #{params.cqwh}
        </if>
        <if test="params.czjgsdm != '' and params.czjgsdm != null">
            and CZJGSDM = #{params.czjgsdm}
        </if>
        <if test="params.trafficType != '' and params.trafficType != null">
            and TRAFFIC_TYPE = #{params.trafficType}
        </if>
    </sql>

    <!--clickhouse插入数据    -->
    <insert id="insertClickhouse" parameterType="java.util.List">
        INSERT INTO `default`.dwm_vlms_sptb02(
        CJSDBH,
        DDJRQ,
        ACTUAL_OUT_TIME,
        THEORY_OUT_TIME,
        SHIPMENT_TIME,
        FINAL_SITE_TIME,
        CUSTOMER_NAME,
        BASE_NAME,
        CZJGSDM,
        CQWH)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.CJSDBH},
            #{item.DDJRQ},
            #{item.ACTUAL_OUT_TIME},
            #{item.THEORY_OUT_TIME},
            #{item.SHIPMENT_TIME},
            #{item.FINAL_SITE_TIME},
            #{item.CUSTOMER_NAME},
            #{item.BASE_NAME},
            #{item.CZJGSDM},
            #{item.CQWH}
            )
        </foreach>
    </insert>
    <!--按条件查询计划量   禅道#914 计划量的统计口径字段调整为 sptb01c.ddjrq => sptb01c.ddjrq对应dwm_vlms_sptb02的ddjrq_r3 -->
    <select id="getPlanAmount" parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime"
            resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.ext.ShipmentDTO">
        SELECT
        COUNT(dvs.CJSDBH) as totalNum,
        <include refid="search"/>
        <if test="params.timeType == 'day' ">
            toDate(fromUnixTimestamp64Milli(toInt64(dvs.DDJRQ_R3))) AS dates
        </if>
        <if test="params.timeType == 'week' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(toInt64(dvs.DDJRQ_R3)))),'-',toString(toWeek(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME),9)))
            AS dates
        </if>
        <if test="params.timeType == 'month' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(toInt64(dvs.DDJRQ_R3)))),'-',toString(toMonth(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))))
            AS dates
        </if>
        <if test="params.timeType == 'quarter' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(toInt64(dvs.DDJRQ_R3)))),'-',toString(QUARTER(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))))
            AS dates
        </if>
        <if test="params.timeType == 'year' ">
            YEAR(fromUnixTimestamp64Milli(toInt64(dvs.DDJRQ_R3))) AS dates
        </if>
        FROM dwm_vlms_sptb02 dvs
        <where>
            (dvs.CJSDBH, dvs.WAREHOUSE_CREATETIME) in
            (select
            dvs1.CJSDBH,
            max(dvs1.WAREHOUSE_CREATETIME)
            from
            dwm_vlms_sptb02 dvs1
            <where>
                <if test=" params.startTime != null and params.endTime !=null ">
                    and dvs1.DDJRQ_R3 BETWEEN #{params.startTime}and #{params.endTime}
                </if>
                <include refid="bigScreenQuery"></include>
            </where>
            group by dvs1.CJSDBH
            )
        </where>
        group by dates,groupName
    </select>
    <!--按条件查询发运量    -->
    <select id="getShipment" parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime"
            resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.ext.ShipmentDTO">
        SELECT
        COUNT(dvs.SHIPMENT_TIME) as totalNum,
        <choose>
            <!--搜索条件:     cqwh:基地   czjgsdm:主机公司  traffic_type: 公铁水
                關於分组条件:
                  公铁水  :   cqwh-单选   czjgsdm-单选     traffic_type-全选
                  主机公司: 1.cqwh-单选   czjgsdm-全选     traffic_type-全选
                          2.cqwh-单选   czjgsdm-全选     traffic_type-单选
                  默认   :  基地
             -->
            <!--公铁水 -->
            <when test="params.cqwh != '' and params.czjgsdm != '' and params.trafficType == '' ">
                dvs.TRAFFIC_TYPE as groupName,
            </when>
            <!--主机公司 -->
            <when test="params.cqwh != '' and params.czjgsdm == '' and params.trafficType == '' ">
                dvs.CUSTOMER_NAME as groupName,
            </when>
            <when test="params.cqwh != '' and params.czjgsdm == '' and params.trafficType != '' ">
                dvs.CUSTOMER_NAME as groupName,
            </when>
            <otherwise>
                dvs.BASE_NAME as groupName,
            </otherwise>
        </choose>

        <if test="params.timeType == 'day' ">
            toDate(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME)) AS dates
        </if>
        <if test="params.timeType == 'week' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))),'-',toString(toWeek(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME),9)))
            AS dates
        </if>
        <if test="params.timeType == 'month' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))),'-',toString(toMonth(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))))
            AS dates
        </if>
        <if test="params.timeType == 'quarter' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))),'-',toString(QUARTER(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))))
            AS dates
        </if>
        <if test="params.timeType == 'year' ">
            YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME)) AS dates
        </if>
        FROM dwm_vlms_sptb02 dvs
        <where>
            (dvs.CJSDBH, dvs.WAREHOUSE_CREATETIME) in
            (select
            dvs1.CJSDBH,
            max(dvs1.WAREHOUSE_CREATETIME)
            from
            dwm_vlms_sptb02 dvs1
            <where>
                <if test=" params.startTime != null and params.endTime !=null ">
                    and dvs1.SHIPMENT_TIME BETWEEN #{params.startTime}and #{params.endTime}
                </if>
                <include refid="bigScreenQuery"></include>
            </where>
            group by dvs1.CJSDBH
            )
        </where>
        group by dates ,groupName
    </select>
    <!--按条件查询到货量-->
    <select id="getFINAL_SITE_TIME" parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime"
            resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.ext.ShipmentDTO">
        SELECT
        COUNT(dvs.FINAL_SITE_TIME) as totalNum,
        <choose>
            <!--搜索条件:     cqwh:基地   czjgsdm:主机公司  traffic_type: 公铁水
                關於分组条件:
                  公铁水  :   cqwh-单选   czjgsdm-单选     traffic_type-全选
                  主机公司: 1.cqwh-单选   czjgsdm-全选     traffic_type-全选
                          2.cqwh-单选   czjgsdm-全选     traffic_type-单选
                  默认   :  基地
             -->
            <!--公铁水 -->
            <when test="params.cqwh != '' and params.czjgsdm != '' and params.trafficType == '' ">
                dvs.TRAFFIC_TYPE as groupName,
            </when>
            <!--主机公司 -->
            <when test="params.cqwh != '' and params.czjgsdm == '' and params.trafficType == '' ">
                dvs.CUSTOMER_NAME as groupName,
            </when>
            <when test="params.cqwh != '' and params.czjgsdm == '' and params.trafficType != '' ">
                dvs.CUSTOMER_NAME as groupName,
            </when>
            <otherwise>
                dvs.BASE_NAME as groupName,
            </otherwise>
        </choose>

        <if test="params.timeType == 'day' ">
            toDate(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME)) AS dates
        </if>
        <if test="params.timeType == 'week' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME))),'-',toString(toWeek(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME),9)))
            AS dates
        </if>
        <if test="params.timeType == 'month' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME))),'-',toString(toMonth(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME))))
            AS dates
        </if>
        <if test="params.timeType == 'quarter' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME))),'-',toString(QUARTER(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME))))
            AS dates
        </if>
        <if test="params.timeType == 'year' ">
            YEAR(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME)) AS dates
        </if>
        FROM dwm_vlms_sptb02 dvs
        <where>
            (dvs.CJSDBH, dvs.WAREHOUSE_CREATETIME) in
            (select
            dvs1.CJSDBH,
            max(dvs1.WAREHOUSE_CREATETIME)
            from
            dwm_vlms_sptb02 dvs1
            <where>
                <if test=" params.startTime != null and params.endTime !=null ">
                    and dvs1.FINAL_SITE_TIME BETWEEN #{params.startTime}and #{params.endTime}
                </if>
                <include refid="bigScreenQuery"></include>
            </where>
            group by dvs1.CJSDBH
            )
        </where>
        group by dates ,groupName

    </select>
    <!--按条件查询到货及时率    todo:后续逻辑优化-->
    <select id="getArrivalRate"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime"
            resultType="java.math.BigDecimal">
        SELECT
        count(dvs.CJSDBH) AS totalNum
        FROM
        dwm_vlms_sptb02 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            CJSDBH,
            MAX(WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02
            <where>
                THEORY_SITE_TIME <![CDATA[ != ]]> 0
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_SITE_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>
                <if test="params.cqwh != null and params.cqwh != ''">
                    AND CQWH = #{params.cqwh}
                </if>
                <if test="params.czjgsdm != null and params.czjgsdm != '' ">
                    AND CZJGSDM = #{params.czjgsdm}
                </if>
            </where>
            GROUP BY CJSDBH
            )
        </where>
    </select>
    <!--  top10待发量  select count(*) cnf   from dwm_vlms_sptb02 where THEORY_OUT_TIME between '1491485187000' and '1492008443000' group by Date(fromUnixTimestamp64Milli(THEORY_OUT_TIME))  order by cnf desc    -->
    <select id="pendingList"
            resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.ext.ShipmentDTO"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
        SELECT
        count(dvs.CJSDBH) AS totalNum ,
        <if test="params.timeType == 'day' ">
            toDate(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME)) AS dates
        </if>
        <if test="params.timeType == 'week' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME))),'-',toString(toWeek(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME),9)))
            AS dates
        </if>
        <if test="params.timeType == 'month' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME))),'-',toString(toMonth(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME))))
            AS dates
        </if>
        <if test="params.timeType =='quarter' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME))),'-',toString(QUARTER(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME))))
            AS dates
        </if>
        <if test="params.timeType == 'year' ">
            YEAR(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME)) AS dates
        </if>
        <choose>
            <!--搜索条件:     cqwh:基地   czjgsdm:主机公司  traffic_type: 公铁水
                關於分组条件:
                  公铁水  :   cqwh-单选   czjgsdm-单选     traffic_type-全选
                  主机公司: 1.cqwh-单选   czjgsdm-全选     traffic_type-全选
                          2.cqwh-单选   czjgsdm-全选     traffic_type-单选
                  默认   :  基地
             -->
            <!--公铁水 -->
            <when test="params.cqwh != '' and params.czjgsdm != '' and params.trafficType == '' ">
                dvs.TRAFFIC_TYPE as groupName,
            </when>
            <!--主机公司 -->
            <when test="params.cqwh != '' and params.czjgsdm == '' and params.trafficType == '' ">
                dvs.CUSTOMER_NAME as groupName,
            </when>
            <when test="params.cqwh != '' and params.czjgsdm == '' and params.trafficType != '' ">
                dvs.CUSTOMER_NAME as groupName,
            </when>
            <otherwise>
                ,dvs.BASE_NAME as groupName
            </otherwise>
        </choose>
        FROM
        dwm_vlms_sptb02 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            v.CJSDBH,
            MAX(v.WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02 v
            <where>

                <if test="  params.startTime != null and params.endTime != null">
                    AND v.THEORY_OUT_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>
                <include refid="bigScreenQuery"></include>
            </where>
            GROUP BY v.CJSDBH
            )
        </where>
        GROUP BY dates , groupName

    </select>


    <!-- 查所有的在时间段内的数据，   在该时间段内已经起运或者正在起运的数据并且在该时间段之前没有到货-->
    <select id="getOnwayDatas" resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.DwmSptb02">
        select dvs.CJSDBH,SHIPMENT_TIME AS SHIPMENT_TIME,FINAL_SITE_TIME AS FINAL_SITE_TIME,CQWH,CZJGSDM,BASE_NAME AS
        BASE_NAME,CUSTOMER_NAME as CUSTOMER_NAME,MAX(WAREHOUSE_UPDATETIME)
        from dwm_vlms_sptb02 dvs
        where
        dvs.SHIPMENT_TIME != 0
        and dvs.SHIPMENT_TIME <![CDATA[ <= ]]> #{params.endTime}
        and (dvs.FINAL_SITE_TIME <![CDATA[ > ]]> #{params.startTime} or dvs.FINAL_SITE_TIME = 0)
        <if test="params.cqwh != null and params.cqwh != ''">
            AND dvs.CQWH = #{params.cqwh}
        </if>
        <if test="params.czjgsdm != null and params.czjgsdm != '' ">
            AND dvs.CZJGSDM = #{params.czjgsdm}
        </if>
        GROUP BY dvs.CJSDBH,dvs.SHIPMENT_TIME,dvs.FINAL_SITE_TIME,dvs.CQWH,dvs.CZJGSDM,dvs.BASE_NAME,CUSTOMER_NAME
        <if test="params.pageNo != 0">
            limit ${params.limitStart}, ${params.limitEnd}
        </if>
    </select>

    <!-- 出库量  select count(*) cnf  from dwm_vlms_sptb02_test where ACTUAL_OUT_TIME between '1491485187000' and '1492008443000' and ACTUAL_OUT_TIME !=0L  -->
    <select id="stockOutList"
            resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.ext.ShipmentDTO"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
        SELECT
        count(dvs.CJSDBH) AS totalNum ,
        <if test="params.timeType == 'day' ">
            toDate(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME)) AS dates
        </if>
        <if test="params.timeType == 'week' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME))),'-',toString(toWeek(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME),9)))
            AS dates
        </if>
        <if test="params.timeType == 'month' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME))),'-',toString(toMonth(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME))))
            AS dates
        </if>
        <if test="params.timeType =='quarter' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME))),'-',toString(QUARTER(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME))))
            AS dates
        </if>
        <if test="params.timeType == 'year' ">
            YEAR(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME)) AS dates
        </if>
        <choose>
            <!--搜索条件:     cqwh:基地   czjgsdm:主机公司  traffic_type: 公铁水
                關於分组条件:
                  公铁水  :   cqwh-单选   czjgsdm-单选     traffic_type-全选
                  主机公司: 1.cqwh-单选   czjgsdm-全选     traffic_type-全选
                          2.cqwh-单选   czjgsdm-全选     traffic_type-单选
                  默认   :  基地
             -->
            <!--公铁水 -->
            <when test="params.cqwh != '' and params.czjgsdm != '' and params.trafficType == '' ">
                dvs.TRAFFIC_TYPE as groupName,
            </when>
            <!--主机公司 -->
            <when test="params.cqwh != '' and params.czjgsdm == '' and params.trafficType == '' ">
                dvs.CUSTOMER_NAME as groupName,
            </when>
            <when test="params.cqwh != '' and params.czjgsdm == '' and params.trafficType != '' ">
                dvs.CUSTOMER_NAME as groupName,
            </when>
            <otherwise>
                ,dvs.BASE_NAME as groupName --基地 区位号
            </otherwise>
        </choose>
        FROM
        dwm_vlms_sptb02 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            v.CJSDBH,
            MAX(v.WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02 v
            <where>
                <if test="  params.startTime != null and params.endTime != null">
                    AND v.ACTUAL_OUT_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>
                <include refid="bigScreenQuery"></include>
            </where>
            GROUP BY v.CJSDBH
            )
        </where>
        GROUP BY dates , groupName
    </select>
    <!--    到货及时样本总量-->
    <select id="getArriveOnTime"
            resultType="java.math.BigDecimal"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
        SELECT
        count(dvs.CJSDBH) AS totalNum
        FROM
        dwm_vlms_sptb02 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            CJSDBH,
            MAX(WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02
            <where>
                THEORY_SITE_TIME <![CDATA[ != ]]> 0
                AND (DDHSJ_XT <![CDATA[ < ]]> THEORY_SITE_TIME OR
                (DDHSJ_XT <![CDATA[ = ]]> 0 and THEORY_SITE_TIME <![CDATA[ > ]]> toUnixTimestamp64Milli(now64(3)) ))
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_SITE_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>
                <include refid="bigScreenQuery"></include>
            </where>
            GROUP BY CJSDBH
            )
        </where>
    </select>

    <!--    起运及时样本数量-->
    <select id="getTimelyShipment"
            resultType="java.math.BigDecimal"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
        SELECT
        count(dvs.CJSDBH) AS totalNum
        FROM
        dwm_vlms_sptb02 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            CJSDBH,
            MAX(WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02
            <where>
                THEORY_SHIPMENT_TIME <![CDATA[ != ]]> 0
                AND ( SHIPMENT_TIME <![CDATA[ < ]]> THEORY_SHIPMENT_TIME OR
                -- 实际还没起运，但是 理论起运时间在当前时间之后，视为一条正常数据
                (SHIPMENT_TIME <![CDATA[ = ]]> 0 AND THEORY_SHIPMENT_TIME <![CDATA[ > ]]>
                toUnixTimestamp64Milli(now64(3)) ))
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_SHIPMENT_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>

                <include refid="bigScreenQuery"></include>
            </where>
            GROUP BY CJSDBH
            )
        </where>
    </select>
    <!--    起运样本总体-->
    <select id="getTotalShipment"
            resultType="java.math.BigDecimal"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
        SELECT
        count(dvs.CJSDBH) AS totalNum
        FROM
        dwm_vlms_sptb02 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            CJSDBH,
            MAX(WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02
            <where>
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_SHIPMENT_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_SHIPMENT_TIME <![CDATA[ != ]]> 0
                </if>
                <include refid="bigScreenQuery"></include>
            </where>
            GROUP BY CJSDBH
            )
        </where>


    </select>

    <!--    出库准时-->
    <select id="getOnTimeDelivery"
            resultType="java.math.BigDecimal"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
        SELECT
        count(dvs.CJSDBH) AS totalNum
        FROM
        dwm_vlms_sptb02 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            CJSDBH,
            MAX(WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02
            <where>
                THEORY_OUT_TIME <![CDATA[ != ]]> 0
                AND (ACTUAL_OUT_TIME <![CDATA[ < ]]> THEORY_OUT_TIME OR
                (ACTUAL_OUT_TIME <![CDATA[ = ]]> 0 and THEORY_OUT_TIME <![CDATA[ > ]]> toUnixTimestamp64Milli(now64(3))
                ))
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_OUT_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>
                <include refid="bigScreenQuery"></include>
            </where>
            GROUP BY CJSDBH
            )
        </where>
    </select>

    <!--    出库总量-->
    <select id="getTotalOutboundQuantity"
            resultType="java.math.BigDecimal"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
        SELECT
        count(dvs.CJSDBH) AS totalNum
        FROM
        dwm_vlms_sptb02 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            CJSDBH,
            MAX(WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02
            <where>
                THEORY_OUT_TIME <![CDATA[ != ]]> 0
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_OUT_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>
                <include refid="bigScreenQuery"></include>
            </where>
            GROUP BY CJSDBH
            )
        </where>
    </select>
    <sql id="where_count_one_to_end">
        <where>
            HOST_COM_CODE = '1'
            <choose>
                <when test="params.vvinList != null or params.selections != null ">
                    AND VVIN IN
                    <foreach collection="params.vvinList" item="value" index="key" separator="," open="(" close=")">
                        #{value}
                    </foreach>
                </when>
                <otherwise>
                    <if test="params.vvin != null and params.vvin != '' ">
                        AND VVIN = #{params.vvin}
                    </if>
                </otherwise>
            </choose>
            <if test="params.baseName != null and params.baseName != '' ">
                AND BASE_NAME = #{params.baseName}
            </if>
            <if test="params.actualOutTimeStart != null   and params.actualOutTimeStart != 0">
                AND ACTUAL_OUT_TIME <![CDATA[ >= ]]> #{params.actualOutTimeStart}
            </if>
            <if test="params.actualOutTimeEnd != null   and params.actualOutTimeEnd != 0 ">
                AND ACTUAL_OUT_TIME <![CDATA[ <= ]]>  #{params.actualOutTimeEnd}
            </if>
            <if test="params.vehiclePlateIssuedTimeStart != null   and params.vehiclePlateIssuedTimeStart != 0  ">
                AND DDJRQ_R3 <![CDATA[ >= ]]> #{params.vehiclePlateIssuedTimeStart}
            </if>
            <if test="params.vehiclePlateIssuedTimeEnd != null   and params.vehiclePlateIssuedTimeEnd != 0 ">
                AND DDJRQ_R3 <![CDATA[ <= ]]>  #{params.vehiclePlateIssuedTimeEnd}
            </if>
            <if test="params.startCityName != null and params.startCityName != '' ">
                AND START_CITY_NAME = #{params.startCityName}
            </if>
            <if test="params.endCityName != null and params.endCityName != '' ">
                AND END_CITY_NAME = #{params.endCityName}
            </if>
            <if test="params.dtvsdhsjStart != null   and params.dtvsdhsjStart != 0  ">
                AND DTVSDHSJ  <![CDATA[ >= ]]> #{params.dtvsdhsjStart}
            </if>
            <if test="params.dtvsdhsjEnd != null   and params.dtvsdhsjEnd != 0 ">
                AND DTVSDHSJ  <![CDATA[ <= ]]>  #{params.dtvsdhsjEnd}
            </if>
            <if test="params.finalSiteTimeStart != null   and params.finalSiteTimeStart != 0  ">
                AND FINAL_SITE_TIME  <![CDATA[ >= ]]> #{params.finalSiteTimeStart}
            </if>
            <if test="params.finalSiteTimeEnd != null   and params.finalSiteTimeEnd != 0 ">
                AND FINAL_SITE_TIME <![CDATA[ <= ]]>  #{params.finalSiteTimeEnd}
            </if>
            <if test="params.trafficType != null   and params.trafficType != '' ">
                AND TRAFFIC_TYPE = #{params.trafficType}
            </if>
            <if test="params.cpzdbh != null   and params.cpzdbh != '' ">
                AND CPZDBH = #{params.cpzdbh}
            </if>
            <if test="params.ccxdlList != null and params.ccxdlList != '' ">
                AND CCXDL IN
                <foreach collection="params.ccxdlList" item="value" index="key" separator="," open="(" close=")">
                    #{value}
                </foreach>
            </if>
        </where>
    </sql>


    <!--    docs查询-->
    <select id="selectDocsList"
            resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.DwmVlmsDocs"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetQueryCriteria">
        WITH
        A AS ( SELECT count(*) SAME_PLATE_NUM, CPZDBH FROM dwm_vlms_sptb02 GROUP BY CPZDBH )
        SELECT
        CASE WHEN CPZDBH != '' THEN A.SAME_PLATE_NUM ELSE 0 END,
        VVIN,HOST_COM_CODE,BASE_NAME,VEHICLE_CODE, VEHICLE_NAME,START_CITY_NAME,END_CITY_NAME,VDWDM,DEALER_NAME,
        DDJRQ_R3,CPZDBH,ASSIGN_TIME,TRANSPORT_NAME,ACTUAL_OUT_TIME,SHIPMENT_TIME,VJSYDM,A.SAME_PLATE_NUM,
        DTVSDHSJ,FINAL_SITE_TIME,BRAND_NAME
        FROM
        dwm_vlms_sptb02 SPTB02
        LEFT JOIN A ON SPTB02.CPZDBH = A.CPZDBH
        <include refid="where_count_one_to_end"/>
        ORDER BY SPTB02.DDJRQ_R3 DESC
        <if test="params.pageNo != 0">
            limit ${params.limitStart}, ${params.limitEnd}
        </if>
    </select>
    <!--    docs 车型列表页查询-->
    <select id="selectDocsCcxdlList"
            resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.DwmVlmsDocs"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetQueryCriteria">
        WITH
        A AS ( SELECT count(*) SAME_PLATE_NUM, CPZDBH FROM dwm_vlms_sptb02 GROUP BY CPZDBH )
        SELECT
        CASE WHEN CPZDBH != '' THEN A.SAME_PLATE_NUM ELSE 0 END,
        VVIN,HOST_COM_CODE,BASE_NAME,VEHICLE_CODE, VEHICLE_NAME,START_CITY_NAME,END_CITY_NAME,VDWDM,DEALER_NAME,
        DDJRQ_R3,CPZDBH,ASSIGN_TIME,TRANSPORT_NAME,ACTUAL_OUT_TIME,SHIPMENT_TIME,VJSYDM,A.SAME_PLATE_NUM,
        DTVSDHSJ,FINAL_SITE_TIME,BRAND_NAME
        FROM
        dwm_vlms_sptb02 SPTB02
        LEFT JOIN A ON SPTB02.CPZDBH = A.CPZDBH
        <include refid="where_count_one_to_end"/>
        ORDER BY SPTB02.DDJRQ_R3 DESC
        <if test="params.pageNo != 0">
            limit ${params.limitStart}, ${params.limitEnd}
        </if>
    </select>

    <select id="countDocsList"
            resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        dwm_vlms_sptb02
        <include refid="where_count_one_to_end"/>
    </select>
    <!--   docs车型计数 -->
    <select id="countDocsCcxdlList" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        dwm_vlms_sptb02
        <include refid="where_count_one_to_end"/>
    </select>



<!--    获取今日起运量 -->
    <select id="getShipmentToday" resultType="java.lang.Long">
        SELECT COUNT(VVIN)
        from dwm_vlms_sptb02 dvs
        WHERE dvs.SHIPMENT_TIME != 0
        and dvs.SHIPMENT_TIME BETWEEN #{params.startTime} and #{params.endTime}
        <include refid="bigScreenQuery"></include>
    </select>
<!--    获取今日在途量 -->
    <select id="getOnWayCountToday" resultType="java.lang.Long">
        select COUNT(DISTINCT VVIN)
        from dwm_vlms_sptb02 dvs
        where
        dvs.SHIPMENT_TIME != 0
        and  dvs.SHIPMENT_TIME <![CDATA[ < ]]> #{params.endTime}
        and (FINAL_SITE_TIME <![CDATA[ > ]]> #{params.startTime} or FINAL_SITE_TIME = 0)
        <include refid="bigScreenQuery"></include>
    </select>
<!--    获取今日代发量 已指派未起运-->
    <select id="getPendingCountToday" resultType="java.lang.Long">
        SELECT COUNT(distinct VVIN)
        from dwm_vlms_sptb02 dvs
        WHERE dvs.SHIPMENT_TIME = 0
        and dvs.ASSIGN_TIME BETWEEN #{params.startTime} and #{params.endTime}
        <include refid="bigScreenQuery"></include>
    </select>
<!--    获取今日运力需求量 已指派但是未装车sptb02.dzpsj -->
    <select id="getCapacityDemandToday" resultType="java.lang.Long">
        SELECT COUNT(distinct VVIN)
        from dwm_vlms_sptb02 dvs
        WHERE dvs.DZPSJ = 0
        and dvs.ASSIGN_TIME BETWEEN #{params.startTime} and #{params.endTime}
        <include refid="bigScreenQuery"></include>
    </select>


</mapper>
