<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.yqwl.datamiddle.ads.order.mapper.DwmVlmsSptb02Mapper">
    <!--clickhouse插入数据    -->
    <insert id="insertClickhouse" parameterType="java.util.List" >
        INSERT INTO `default`.dwm_vlms_sptb02(
            CJSDBH,
            DDJRQ,
            ACTUAL_OUT_TIME,
            THEORY_OUT_TIME,
            SHIPMENT_TIME,
            FINAL_SITE_TIME,
            CUSTOMER_NAME,
            BASE_NAME,
            CZJGSDM,
            CQWH)
            VALUES
           <foreach collection="list" item="item" index="index" separator=",">
                   (
                       #{item.CJSDBH},
                       #{item.DDJRQ},
                       #{item.ACTUAL_OUT_TIME},
                       #{item.THEORY_OUT_TIME},
                       #{item.SHIPMENT_TIME},
                       #{item.FINAL_SITE_TIME},
                       #{item.CUSTOMER_NAME},
                       #{item.BASE_NAME},
                       #{item.CZJGSDM},
                       #{item.CQWH}
                    )
           </foreach>
    </insert>
    <!--按条件查询计划量    -->
    <select id="getPlanAmount" parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime" resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.ext.ShipmentDTO">
        SELECT
        COUNT(dvs.DDJRQ) as totalNum,
            <choose>
                <when test="params.cqwh != '' and params.czjgsdm == '' ">
                    dvs.CUSTOMER_NAME as groupName,
                </when>
                <otherwise>
                    dvs.BASE_NAME as groupName,
                </otherwise>
            </choose>
        <if test="params.timeType == 'day' ">
            toDate(fromUnixTimestamp64Milli(dvs.DDJRQ))  AS dates
        </if>
        <if test="params.timeType == 'week' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.DDJRQ))),'-',toString(toWeek(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME),9)))   AS dates
        </if>
        <if test="params.timeType == 'month' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.DDJRQ))),'-',toString(toMonth(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))))   AS dates
        </if>
        <if test="params.timeType == 'quarter' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.DDJRQ))),'-',toString(QUARTER(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))))   AS dates
        </if>
        <if test="params.timeType == 'year' ">
            YEAR(fromUnixTimestamp64Milli(dvs.DDJRQ))  AS dates
        </if>
        FROM dwm_vlms_sptb02_test1 dvs
        <where>
            (dvs.CJSDBH, dvs.WAREHOUSE_CREATETIME) in
            (select
                dvs1.CJSDBH,
                max(dvs1.WAREHOUSE_CREATETIME)
            from
            dwm_vlms_sptb02_test1  dvs1
            <where>
                <if test=" params.startTime != null and params.endTime !=null " >
                    and dvs1.DDJRQ BETWEEN  #{params.startTime}and #{params.endTime}
                </if>
                <if test=" params.cqwh != null and params.cqwh != '' ">
                    and dvs1.CQWH = #{params.cqwh}
                </if>
                <if test=" params.czjgsdm != null and params.czjgsdm != '' ">
                    and dvs1.CZJGSDM = #{params.czjgsdm}
                </if>
            </where>
                 group by dvs1.CJSDBH
            )
        </where>
            group by dates,groupName
    </select>
    <!--按条件查询发运量    -->
    <select id="getShipment" parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime" resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.ext.ShipmentDTO">
        SELECT
        COUNT(dvs.SHIPMENT_TIME) as totalNum,
        <choose>
            <when test="params.cqwh != '' and params.czjgsdm == '' ">
                dvs.CUSTOMER_NAME as groupName,
            </when>
            <otherwise>
                dvs.BASE_NAME as groupName,
            </otherwise>
        </choose>

        <if test="params.timeType == 'day' ">
            toDate(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))  AS dates
        </if>
        <if test="params.timeType == 'week' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))),'-',toString(toWeek(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME),9)))   AS dates
        </if>
        <if test="params.timeType == 'month' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))),'-',toString(toMonth(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))))   AS dates
        </if>
        <if test="params.timeType == 'quarter' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))),'-',toString(QUARTER(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))))   AS dates
        </if>
        <if test="params.timeType == 'year' ">
            YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))  AS dates
        </if>
        FROM dwm_vlms_sptb02_test1 dvs
        <where>
            (dvs.CJSDBH, dvs.WAREHOUSE_CREATETIME) in
            (select
            dvs1.CJSDBH,
            max(dvs1.WAREHOUSE_CREATETIME)
            from
            dwm_vlms_sptb02_test1  dvs1
            <where>
                <if test=" params.startTime != null and params.endTime !=null " >
                    and dvs1.SHIPMENT_TIME BETWEEN  #{params.startTime}and #{params.endTime}
                </if>
                <if test=" params.cqwh != null and params.cqwh != '' ">
                    and dvs1.CQWH = #{params.cqwh}          --基地
                </if>
                <if test=" params.czjgsdm != null and params.czjgsdm != '' ">
                    and dvs1.CZJGSDM = #{params.czjgsdm}    --主机品牌
                </if>
            </where>
            group by dvs1.CJSDBH
            )
        </where>
        group by dates ,groupName
    </select>
    <!--按条件查询到货量-->
    <select id="getFINAL_SITE_TIME" parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime" resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.ext.ShipmentDTO">
        SELECT
        COUNT(dvs.FINAL_SITE_TIME) as totalNum,
        <choose>
            <when test="params.cqwh != '' and params.czjgsdm == '' ">
                dvs.CUSTOMER_NAME as groupName,
            </when>
            <otherwise>
                dvs.BASE_NAME as groupName,
            </otherwise>
        </choose>

        <if test="params.timeType == 'day' ">
            toDate(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME))  AS dates
        </if>
        <if test="params.timeType == 'week' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME))),'-',toString(toWeek(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME),9)))   AS dates
        </if>
        <if test="params.timeType == 'month' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME))),'-',toString(toMonth(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME))))   AS dates
        </if>
        <if test="params.timeType == 'quarter' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME))),'-',toString(QUARTER(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME))))   AS dates
        </if>
        <if test="params.timeType == 'year' ">
            YEAR(fromUnixTimestamp64Milli(dvs.FINAL_SITE_TIME))  AS dates
        </if>
        FROM dwm_vlms_sptb02_test1 dvs
        <where>
            (dvs.CJSDBH, dvs.WAREHOUSE_CREATETIME) in
            (select
            dvs1.CJSDBH,
            max(dvs1.WAREHOUSE_CREATETIME)
            from
            dwm_vlms_sptb02_test1  dvs1
            <where>
                <if test=" params.startTime != null and params.endTime !=null " >
                    and dvs1.FINAL_SITE_TIME BETWEEN  #{params.startTime}and #{params.endTime}
                </if>
                <if test=" params.cqwh != null and params.cqwh != '' ">
                    and dvs1.CQWH = #{params.cqwh}          --基地
                </if>
                <if test=" params.czjgsdm != null and params.czjgsdm != '' ">
                    and dvs1.CZJGSDM = #{params.czjgsdm}    --主机品牌
                </if>
            </where>
            group by dvs1.CJSDBH
            )
        </where>
        group by dates ,groupName

    </select>
    <!--按条件查询到货及时率    todo:后续逻辑优化-->
    <select id="getArrivalRate"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime"
            resultType="java.math.BigDecimal">
        SELECT
        count(dvs.CJSDBH) AS totalNum
        FROM
        dwm_vlms_sptb02_test1 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            CJSDBH,
            MAX(WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02_test1
            <where>
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_SITE_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_SITE_TIME <![CDATA[ != ]]> 0
                </if>
                <if test="params.cqwh != null and params.cqwh != ''">
                    AND  CQWH = #{params.cqwh}
                </if>
                <if test="params.czjgsdm != null and params.czjgsdm != '' ">
                    AND CZJGSDM = #{params.czjgsdm}
                </if>
            </where>
            GROUP BY CJSDBH
            )
        </where>
    </select>

    <!--  top10 发运量  select count(*) cnf  from dwm_vlms_sptb02_test where SHIPMENT_TIME between '1491485187000' and '1492008443000' and shipment_time !=0 group by Date(fromUnixTimestamp64Milli(shipment_time)) order by cnf desc -->
    <!--    <select id="sendList"
            resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.ext.ShipmentDTO"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
            SELECT
                    count(dvs.CJSDBH)  AS totalNum ,
            <if test="params.timeType == 'day' ">
                toDate(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))  AS dates
            </if>
            <if test="params.timeType == 'week' ">
                CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))),'-',toString(toWeek(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME),9)))   AS dates
            </if>
            <if test="params.timeType == 'month' ">
                CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))),'-',toString(toMonth(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))))   AS dates
            </if>
            <if test="params.timeType == 'quarter' ">
                CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))),'-',toString(QUARTER(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))))   AS dates
            </if>
            <if test="params.timeType == 'year' ">
                YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))  AS dates
            </if>
            <choose>
                <when test="params.cqwh =='' and params.czjgsdm !=''">
                    ,dvs.CUSTOMER_NAME as groupName
                </when>
                <otherwise>
                    ,dvs.BASE_NAME as groupName
                </otherwise>
            </choose>
            FROM
                    dwm_vlms_sptb02 dvs
            <where>
                (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
                    SELECT
                            v.CJSDBH,MAX(v.WAREHOUSE_UPDATETIME)
                    FROM
                            dwm_vlms_sptb02 v
                    <where>
                        <if test="  params.startTime != null and params.endTime !=null ">
                            AND v.DTVSCFSJ <![CDATA[ != ]]> 0
                        </if>
                        <if test=" params.startTime != null and params.endTime !=null">
                            AND v.DTVSCFSJ BETWEEN  #{params.startTime} AND #{params.endTime}
                        </if>
                        <if test="params.cqwh != null and params.cqwh !=''">
                            AND v.CQWH =  #{params.cqwh}
                        </if>
                        <if test="params.czjgsdm != null and params.czjgsdm !='' ">
                            AND v.CZJGSDM = #{params.czjgsdm}
                        </if>
                    </where>
                    GROUP BY v.CJSDBH
                )
            </where>
            GROUP BY  dates,groupName

    </select>-->

    <!--  top10待发量  select count(*) cnf   from dwm_vlms_sptb02 where THEORY_OUT_TIME between '1491485187000' and '1492008443000' group by Date(fromUnixTimestamp64Milli(THEORY_OUT_TIME))  order by cnf desc    -->
    <select id="pendingList"
            resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.ext.ShipmentDTO"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
        SELECT
        count(dvs.CJSDBH) AS totalNum ,
        <if test="params.timeType == 'day' ">
            toDate(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME))  AS dates
        </if>
        <if test="params.timeType == 'week' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME))),'-',toString(toWeek(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME),9)))   AS dates
        </if>
        <if test="params.timeType == 'month' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME))),'-',toString(toMonth(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME))))   AS dates
        </if>
        <if test="params.timeType =='quarter' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME))),'-',toString(QUARTER(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME))))   AS dates
        </if>
        <if test="params.timeType == 'year' ">
            YEAR(fromUnixTimestamp64Milli(dvs.THEORY_OUT_TIME))  AS dates
        </if>
        <choose>
            <when test="params.cqwh !='' and params.czjgsdm ==''">
                ,dvs.CUSTOMER_NAME as groupName
            </when>
            <otherwise>
                ,dvs.BASE_NAME as groupName
            </otherwise>
        </choose>
        FROM
        dwm_vlms_sptb02_test1 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            v.CJSDBH,
            MAX(v.WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02_test1 v
            <where>

                <if test="  params.startTime != null and params.endTime != null">
                    AND v.THEORY_OUT_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>
                <if test="params.cqwh != null and params.cqwh != ''">
                    AND  v.CQWH = #{params.cqwh}
                </if>
                <if test="params.czjgsdm != null and params.czjgsdm != '' ">
                    AND v.CZJGSDM = #{params.czjgsdm}
                </if>
            </where>
            GROUP BY v.CJSDBH
            )
        </where>
        GROUP BY dates , groupName

    </select>

    <!-- top10在途量    select count(*)  cnf from dwm_vlms_sptb02_test  where  startTime <=  SHIPMENT_TIME and endTime >= FINAL_SITE_TIME  or  FINAL_SITE_TIME = 0L order by cnf desc-->
    <select id="onWayList"
            resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.ext.ShipmentDTO"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
        SELECT
        count(dvs.CJSDBH) AS totalNum ,
        <if test="params.timeType == 'day' ">
            toDate(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))  AS dates
        </if>
        <if test="params.timeType == 'week' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))),'-',toString(toWeek(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME),9)))   AS dates
        </if>
        <if test="params.timeType == 'month' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))),'-',toString(toMonth(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))))   AS dates
        </if>
        <if test="params.timeType =='quarter' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))),'-',toString(QUARTER(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))))   AS dates
        </if>
        <if test="params.timeType == 'year' ">
              YEAR(fromUnixTimestamp64Milli(dvs.SHIPMENT_TIME))  AS dates
        </if>
        <choose>
            <when test="params.cqwh !='' and params.czjgsdm ==''">
                ,dvs.CUSTOMER_NAME as groupName
            </when>
            <otherwise>
                ,dvs.BASE_NAME as groupName
            </otherwise>
        </choose>
        FROM
        dwm_vlms_sptb02_test1 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            v.CJSDBH,MAX(v.WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02_test1 v
            <where>
                <if test=" params.startTime != null ">
                    AND  v.SHIPMENT_TIME <![CDATA[ >= ]]> #{params.startTime}
                </if>
                <if test="  params.endTime != null">
                    AND v.FINAL_SITE_TIME <![CDATA[ = ]]> #{params.endTime}
                </if>
                <if test="  params.startTime != null and params.endTime != null ">
                    OR v.FINAL_SITE_TIME <![CDATA[ = ]]> 0
                </if>
                <if test="params.cqwh != null and params.cqwh != ''">
                    AND  v.CQWH = #{params.cqwh}
                </if>
                <if test="params.czjgsdm != null and params.czjgsdm != '' ">
                    AND v.CZJGSDM = #{params.czjgsdm}
                </if>
            </where>
            GROUP BY v.CJSDBH
            )
        </where>
        GROUP BY dates , groupName

    </select>

    <!-- 出库量  select count(*) cnf  from dwm_vlms_sptb02_test where ACTUAL_OUT_TIME between '1491485187000' and '1492008443000' and ACTUAL_OUT_TIME !=0L  -->
    <select id="stockOutList"
            resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.ext.ShipmentDTO"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
        SELECT
        count(dvs.CJSDBH) AS totalNum ,
        <if test="params.timeType == 'day' ">
            toDate(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME))  AS dates
        </if>
        <if test="params.timeType == 'week' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME))),'-',toString(toWeek(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME),9)))   AS dates
        </if>
        <if test="params.timeType == 'month' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME))),'-',toString(toMonth(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME))))   AS dates
        </if>
        <if test="params.timeType =='quarter' ">
            CONCAT(toString(YEAR(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME))),'-',toString(QUARTER(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME))))   AS dates
        </if>
        <if test="params.timeType == 'year' ">
            YEAR(fromUnixTimestamp64Milli(dvs.ACTUAL_OUT_TIME))  AS dates
        </if>
        <choose>
            <when test="params.cqwh !='' and params.czjgsdm ==''">
                ,dvs.CUSTOMER_NAME as groupName    --品牌   主机公司代码
            </when>
            <otherwise>
                ,dvs.BASE_NAME as groupName   --基地  区位号
            </otherwise>
        </choose>
        FROM
        dwm_vlms_sptb02 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            v.CJSDBH,
            MAX(v.WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02 v
            <where>
                <if test="  params.startTime != null and params.endTime != null">
                    AND v.ACTUAL_OUT_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>
                <if test="params.cqwh != null and params.cqwh != ''">
                    AND  v.CQWH = #{params.cqwh}
                </if>
                <if test="params.czjgsdm != null and params.czjgsdm != '' ">
                    AND v.CZJGSDM = #{params.czjgsdm}
                </if>
            </where>
            GROUP BY v.CJSDBH
            )
        </where>
        GROUP BY dates , groupName
    </select>
<!--    到货及时样本总量-->
    <select id="getArriveOnTime"
            resultType="java.math.BigDecimal"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
        SELECT
        count(dvs.CJSDBH) AS totalNum
        FROM
        dwm_vlms_sptb02_test1 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            CJSDBH,
            MAX(WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02_test1
            <where>
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_SITE_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    AND FINAL_SITE_TIME <![CDATA[ != ]]> 0
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    AND FINAL_SITE_TIME <![CDATA[ < ]]> THEORY_SITE_TIME
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    OR FINAL_SITE_TIME <![CDATA[ = ]]> 0
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_SITE_TIME <![CDATA[ > ]]> toUnixTimestamp64Milli(now64(3))
                </if>
                <if test="params.cqwh != null and params.cqwh != ''">
                    AND  CQWH = #{params.cqwh}
                </if>
                <if test="params.czjgsdm != null and params.czjgsdm != '' ">
                    AND CZJGSDM = #{params.czjgsdm}
                </if>
            </where>
            GROUP BY CJSDBH
            )
        </where>
    </select>

<!--    起运及时样本数量-->
    <select id="getTimelyShipment"
            resultType="java.math.BigDecimal"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
        SELECT
        count(dvs.CJSDBH) AS totalNum
        FROM
        dwm_vlms_sptb02_test1 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            CJSDBH,
            MAX(WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02_test1
            <where>
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_SHIPMENT_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    AND SHIPMENT_TIME <![CDATA[ != ]]> 0
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    AND SHIPMENT_TIME <![CDATA[ < ]]> THEORY_SHIPMENT_TIME
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    OR SHIPMENT_TIME <![CDATA[ = ]]> 0
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_SHIPMENT_TIME <![CDATA[ > ]]> toUnixTimestamp64Milli(now64(3))
                </if>
                <if test="params.cqwh != null and params.cqwh != ''">
                    AND  CQWH = #{params.cqwh}
                </if>
                <if test="params.czjgsdm != null and params.czjgsdm != '' ">
                    AND CZJGSDM = #{params.czjgsdm}
                </if>
            </where>
            GROUP BY CJSDBH
            )
        </where>
    </select>
<!--    起运样本总体-->
    <select id="getTotalShipment"
            resultType="java.math.BigDecimal"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
        SELECT
        count(dvs.CJSDBH) AS totalNum
        FROM
        dwm_vlms_sptb02_test1 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            CJSDBH,
            MAX(WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02_test1
            <where>
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_SHIPMENT_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_SHIPMENT_TIME <![CDATA[ != ]]> 0
                </if>
                <if test="params.cqwh != null and params.cqwh != ''">
                    AND  CQWH = #{params.cqwh}
                </if>
                <if test="params.czjgsdm != null and params.czjgsdm != '' ">
                    AND CZJGSDM = #{params.czjgsdm}
                </if>
            </where>
            GROUP BY CJSDBH
            )
        </where>


    </select>

<!--    出库准时-->
    <select id="getOnTimeDelivery"
            resultType="java.math.BigDecimal"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
        SELECT
        count(dvs.CJSDBH) AS totalNum
        FROM
        dwm_vlms_sptb02_test1 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            CJSDBH,
            MAX(WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02_test1
            <where>
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_OUT_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    AND ACTUAL_OUT_TIME <![CDATA[ != ]]> 0
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    AND ACTUAL_OUT_TIME <![CDATA[ < ]]> THEORY_OUT_TIME
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    OR ACTUAL_OUT_TIME <![CDATA[ = ]]> 0
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_OUT_TIME <![CDATA[ > ]]> toUnixTimestamp64Milli(now64(3))
                </if>
                <if test="params.cqwh != null and params.cqwh != ''">
                    AND  CQWH = #{params.cqwh}
                </if>
                <if test="params.czjgsdm != null and params.czjgsdm != '' ">
                    AND CZJGSDM = #{params.czjgsdm}
                </if>
            </where>
            GROUP BY CJSDBH
            )
        </where>
    </select>

<!--    出库总量-->
    <select id="getTotalOutboundQuantity"
            resultType="java.math.BigDecimal"
            parameterType="org.jeecg.yqwl.datamiddle.ads.order.vo.GetBaseBrandTime">
        SELECT
        count(dvs.CJSDBH) AS totalNum
        FROM
        dwm_vlms_sptb02_test1 dvs
        <where>
            (dvs.CJSDBH,dvs.WAREHOUSE_UPDATETIME) IN (
            SELECT
            CJSDBH,
            MAX(WAREHOUSE_UPDATETIME)
            FROM
            dwm_vlms_sptb02_test1
            <where>
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_OUT_TIME BETWEEN #{params.startTime} AND #{params.endTime}
                </if>
                <if test="  params.startTime != null and params.endTime != null">
                    AND THEORY_OUT_TIME <![CDATA[ != ]]> 0
                </if>
                <if test="params.cqwh != null and params.cqwh != ''">
                    AND  CQWH = #{params.cqwh}
                </if>
                <if test="params.czjgsdm != null and params.czjgsdm != '' ">
                    AND CZJGSDM = #{params.czjgsdm}
                </if>
            </where>
            GROUP BY CJSDBH
            )
        </where>
    </select>

</mapper>
