<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.yqwl.datamiddle.ads.order.mapper.OracleSptb02Mapper">

    <!-- Vin码计数 -->
    <select id="countOracleVinOfSptb02AndSptb02d1" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            TDS_LJ.SPTB02 d1 JOIN TDS_LJ.SPTB02D1 d2 on d1.CJSDBH = d2.CJSDBH
        <where>
            <if test="vvin != null  and vvin != ''  ">
                D2.VVIN = #{vvin}
            </if>
        </where>
    </select>
</mapper>
