<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.yqwl.datamiddle.ads.order.mapper.OracleSptb02Mapper">

    <!-- Vin码计数 -->
    <select id="countOracleVinOfSptb02AndSptb02d1" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            TDS_LJ.SPTB02 d1 JOIN TDS_LJ.SPTB02D1 d2 on d1.CJSDBH = d2.CJSDBH
        <where>
            <if test="vvin != null  and vvin != ''  ">
                D2.VVIN = #{vvin}
            </if>
        </where>
    </select>

    <select id="selectListByVin" resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.DwmVlmsDocs">
        SELECT d1.VVIN,
               (tb01c.DDJRQ-to_date('1970-01-01 08:00:00','yyyy-mm-dd HH24:MI:SS'))*24*60*60*1000 as ddjrq_r3,
               (tb02.DYSSZPSJ-to_date('1970-01-01 08:00:00','yyyy-mm-dd HH24:MI:SS'))*24*60*60*1000 as assign_time,
               (tb02.DCKRQ-to_date('1970-01-01 08:00:00','yyyy-mm-dd HH24:MI:SS'))*24*60*60*1000 as actual_out_time,
               (tb02.DTVSCFSJ-to_date('1970-01-01 08:00:00','yyyy-mm-dd HH24:MI:SS'))*24*60*60*1000 as shipment_time,
               (tb02.DTVSDHSJ-to_date('1970-01-01 08:00:00','yyyy-mm-dd HH24:MI:SS'))*24*60*60*1000 as DTVSDHSJ
        from TDS_LJ.SPTB02D1 d1
                 join TDS_LJ.SPTB02 tb02 on d1.CJSDBH = tb02.CJSDBH AND tb02.VYSFS in ('J','TD','SD','G')
                 join TDS_LJ.SPTB01C tb01c on tb02.CPCDBH = tb01c.CPCDBH
        WHERE
            d1.VVIN in
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
    </select>
</mapper>
