<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.yqwl.datamiddle.job.mapper.DataMiddleOdsBaseStationDataAndEpcMapper">
    <!--查出    -->
    <resultMap id="baseStationDataMap" type="org.jeecg.yqwl.datamiddle.ads.order.entity.BaseStationData" >
        <result column="IDNUM" property="ID" jdbcType="BIGINT"/>

        <result column="SAMPLE_U_T_C" property="SAMPLE_U_T_C" jdbcType="BIGINT"/>
        <result column="SHOP_NO" property="SHOP_NO" jdbcType="VARCHAR"/>
        <result column="IN_WAREHOUSE_CODE" property="IN_WAREHOUSE_CODE" jdbcType="VARCHAR"/>
        <result column="IN_WAREHOUSE_NAME" property="IN_WAREHOUSE_NAME" jdbcType="VARCHAR"/>
        <result column="OPERATE_TYPE" property="OPERATE_TYPE" jdbcType="VARCHAR"/>
    </resultMap>
    <!--查出仓库名称,仓库代码-->
    <resultMap id="baseStationDataMapWareHouse" type="org.jeecg.yqwl.datamiddle.ads.order.entity.BaseStationData" >
        <result column="SAMPLE_U_T_C" property="SAMPLE_U_T_C" jdbcType="BIGINT"/>
        <result column="SHOP_NO" property="SHOP_NO" jdbcType="VARCHAR"/>
        <result column="IN_WAREHOUSE_CODE" property="IN_WAREHOUSE_CODE" jdbcType="VARCHAR"/>
        <result column="IN_WAREHOUSE_NAME" property="IN_WAREHOUSE_NAME" jdbcType="VARCHAR"/>
        <result column="OPERATE_TYPE" property="OPERATE_TYPE" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询base_station_data_epc的表数据-->
    <select id="getBaseStationDataEpcList" resultType="org.jeecg.yqwl.datamiddle.ads.order.entity.BaseStationDataEpc">
        SELECT IDNUM, VIN , CP , OPERATETIME
                  FROM ods_vlms_base_station_data_epc
                  where
                      OPERATETIME <![CDATA[>=]]> #{startDateStr}
                    AND OPERATETIME <![CDATA[<=]]> #{endDateStr}

        limit #{limitStart} ,
        #{limitEnd};
    </select>
    <!--按照sample_u_t_c时间查询当日ods_base_station_data的数据 -->
    <select id="getOdsVlmsBaseStationData" resultMap="baseStationDataMap">
            SELECT t.IDNUM,
                   t.SAMPLE_U_T_C ,
                   t.VIN ,
                   t.SHOP_NO ,
                   t.OPERATE_TYPE ,
                   t2.WAREHOUSE_CODE IN_WAREHOUSE_CODE ,
                   t2.WAREHOUSE_NAME IN_WAREHOUSE_NAME ,
                   t2.VWLCKDM
            FROM  ods_vlms_base_station_data t
                      LEFT JOIN dim_vlms_warehouse_rs t2 on t.SHOP_NO = t2.WAREHOUSE_CODE
            WHERE
                SAMPLE_U_T_C <![CDATA[>=]]> #{startDateStr}
              AND SAMPLE_U_T_C <![CDATA[<=]]> #{endDateStr}
        limit #{limitStart} , #{limitEnd};

    </select>
    <!--按照sample_u_t_c时间查询当日ods_base_station_data的数据 -->
    <select id="getOdsVlmsBaseStationDataEpc" resultMap="baseStationDataMapWareHouse">


        SELECT
        IDNUM AS rn,
        a.*
        FROM
        ( SELECT t.*,
                 t2.WAREHOUSE_CODE IN_WAREHOUSE_CODE,
                 t2.WAREHOUSE_NAME IN_WAREHOUSE_NAME
          FROM  ods_vlms_base_station_data t
                    LEFT JOIN ods_vlms_rfid_warehouse t2 on t.SHOP_NO = t2.WAREHOUSE_CODE
          WHERE
              SAMPLE_U_T_C <![CDATA[>=]]> #{startDateStr}
            AND SAMPLE_U_T_C <![CDATA[<=]]> #{endDateStr}
        ) a
        limit #{limitStart} , #{limitEnd} ;



    </select>
    <!--给一单到底表添加基地代码,基地名称的字段    -->
    <insert id="addDwmOOTDBase" parameterType="org.jeecg.yqwl.datamiddle.ads.order.entity.DwdBaseStationDataEpc">
        insert into dwm_vlms_one_order_to_end (VIN
        <if test=" params.BASE_CODE !=null and params.BASE_CODE != '' ">
            , BASE_CODE
        </if>
        <if test=" params.BASE_NAME !=null and params.BASE_NAME != ''">
            , BASE_NAME
        </if>
            ) VALUES (
        #{params.VIN}
        <if test=" params.BASE_CODE !=null and params.BASE_CODE != '' ">
            , #{params.BASE_CODE}
        </if>
        <if test=" params.BASE_NAME !=null and params.BASE_NAME != '' ">
            , #{params.BASE_NAME}
        </if>
        ) ON DUPLICATE KEY UPDATE
        VIN = VALUES(VIN)
        <if test=" params.BASE_CODE !=null and params.BASE_CODE != '' ">
            BASE_CODE = VALUES(BASE_CODE)
        </if>
        <if test=" params.BASE_NAME !=null and params.BASE_NAME != ''">
            , BASE_NAME = VALUES(BASE_NAME)
        </if>
    </insert>

    <!--插入一单到底dwm_vlms_one_order_to_end的表 -->
    <insert id="addDwmOOTD" parameterType="org.jeecg.yqwl.datamiddle.ads.order.entity.DwmVlmsOneOrderToEnd">
        insert into ods_vlms_one_order_to_end (
            VIN
        <if test=" params.inWarehouseCode !=null and params.inWarehouseCode != '' ">
            , IN_WAREHOUSE_CODE
        </if>
        <if test=" params.inWarehouseName !=null and params.inWarehouseName != '' ">
            , IN_WAREHOUSE_NAME
        </if>
            )  values (
            #{params.vin}
        <if test=" params.inWarehouseCode !=null and params.inWarehouseCode != '' ">
            , #{params.inWarehouseCode}
        </if>
        <if test=" params.inWarehouseName !=null and params.inWarehouseName != '' ">
            , #{params.inWarehouseName}
        </if>
        ) ON DUPLICATE KEY UPDATE
        VIN = VALUES(VIN) ,
        <if test=" params.inWarehouseCode !=null and params.inWarehouseCode != '' ">
            IN_WAREHOUSE_CODE=VALUES(IN_WAREHOUSE_CODE)
        </if>
        <if test=" params.inWarehouseName !=null and params.inWarehouseName != '' ">
            , IN_WAREHOUSE_NAME=VALUES(IN_WAREHOUSE_NAME)
        </if>
    </insert>

    <!--更新一单到底的的Cp9(Epc)下线时间-->
    <update id="updateCp9OffLineTime">
        UPDATE dwm_vlms_one_order_to_end
        SET CP9_OFFLINE_TIME = #{OPERATETIME}
        WHERE
            VIN = #{VIN}
          AND ( CP9_OFFLINE_TIME = 0 OR CP9_OFFLINE_TIME <![CDATA[>]]> #{OPERATETIME} ) ;
    </update>

    <!--更新一单到底的入库时间-->
    <update id="updateOOTDInSiteTime">
        UPDATE dwm_vlms_one_order_to_end e
            JOIN dim_vlms_warehouse_rs a
        SET IN_SITE_TIME = #{SAMPLE_U_T_C}
        WHERE e.VIN = #{VIN} ,
            AND e.LEAVE_FACTORY_TIME <![CDATA[<]]> #{SAMPLE_U_T_C}
            AND a.WAREHOUSE_TYPE <![CDATA[=]]> 'T1'
    </update>

    <!--更新一单到底的出厂日期-->
    <update id="updateOOTDLeaveFactoryTime">
        UPDATE dwm_vlms_one_order_to_end d
        JOIN ods_vlms_base_station_data o
        SET d.LEAVE_FACTORY_TIME = #{SAMPLE_U_T_C}
        WHERE
        d.VIN = #{VIN}
        AND d.CP9_OFFLINE_TIME <![CDATA[<]]> #{SAMPLE_U_T_C}
        AND ( d.LEAVE_FACTORY_TIME <![CDATA[=]]> 0 OR d.LEAVE_FACTORY_TIME <![CDATA[>]]> #{SAMPLE_U_T_C} )
        AND (o.SHOP_NO <![CDATA[=]]> 'DZCP901' OR o.SHOP_NO <![CDATA[=]]> 'DZCP9' )
        AND o.OPERATE_TYPE='OutStock'
    </update>


</mapper>